
@{ 
    Layout = "~/views/shared/_layoutHome.cshtml";
}
<section class="sliderBody">
    <div class="container bgcolor">
        <div class="row p-2">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 p-0 position-relative">
                <div class="slid-leftside pt-17 pl-3">
                    <!-- <img src="img/health.png" class="text-center"> -->
                    <h1>Looking to Compare <span class="d-block">Business Health Insurance</span> </h1>
                    <ul>
                        <li>Protect your loved ones from <span> £</span> 5* a month.</li>
                        <li>Compare all the Leading UK Insurers.</li>
                        <li>Cheapest policy to suit your individual circumstances</li>
                        <li>Fast, Free and No Obligation Comparison</li>
                    </ul>
                    <ul class="brand clearfix">
                        <li><img src="@Url.Content("/content/img/brand_1.png")"></li>
                        <li><img src="@Url.Content("/content/img/brand_2.png")"></li>
                        <li><img src="@Url.Content("/content/img/brand_3.png")"></li>
                        <li><img src="@Url.Content("/content/img/brand_4.png")"></li>
                        <li><img src="@Url.Content("/content/img/brand_5.png")"></li>
                        <li><img src="@Url.Content("/content/img/brand_7.png")"></li>
                        <li><img src="@Url.Content("/content/img/brand_8.png")"></li>
                        <li><img src="@Url.Content("/content/img/brand_9.png")"></li>

                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 p-0 col-sm-12 pl-0 pl-md-5 position-relative">
                <div class="comperNOWpic">
                    <img src="@Url.Content("/content/img/compernow.png")" alt="compernow" class="">
                </div>
                <div class="card bg-light form-Section">
                    <div class="longformTitle">
                        <h2 class="card-title text-white text-center">Get Free No Obligation Quote!</h2>
                    </div>
                    <div class="card-body card-block">
                        <form class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="col-form-label-sm p-0 ">Company Name</label>
                                    <input type="text" class="form-control form-control-sm contactinput" placeholder="Company Name" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label-sm p-0">No. of Employees</label>
                                    <select class="form-control contactinput form-control-sm">
                                        <option value="">0-99</option>
                                        <option value="">100-499</option>
                                        <option value="">500-999</option>
                                        <option value="">1000+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-row">
                                <div class="col-md-2 pr-1">
                                    <label class="col-form-label-sm p-0 ">Title</label>
                                    <select class="form-control contactinput form-control-sm p-0">
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Ms">Ms</option>
                                        <option value="Miss">Miss</option>
                                    </select>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <label class="col-form-label-sm p-0 ">First name</label>
                                    <input type="text" class="form-control form-control-sm contactinput" placeholder="First name" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label-sm p-0">Last name</label>
                                    <input type="text" class="form-control contactinput form-control-sm" placeholder="Last name" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationNumber" class="col-form-label-sm p-0">Mobile No.</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control contactinput form-control-sm" type="tel" placeholder="Mobile no." required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationNumber" class="col-form-label-sm p-0">Alternative No.</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control contactinput form-control-sm" type="tel" placeholder="Alternative no." required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationNumber" class="col-form-label-sm p-0">Date of Birth</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control contactinput form-control-sm" type="tel" type="date" id="datepicker" placeholder="mm/dd/yyyy" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustomEmail" class="col-form-label-sm p-0">Email</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control contactinput form-control-sm" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="col-form-label-sm p-0">Address</label>
                                    <input type="text" class="form-control contactinput form-control-sm" placeholder="Address" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label-sm p-0">Post Code</label>
                                    <input type="text" class="form-control contactinput form-control-sm" placeholder="Zip" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="col-form-label-sm p-0 ">Existing Policy</label>
                                    <select class="form-control contactinput form-control-sm">
                                        <option>Yes</option>
                                        <option selected="selected">No</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label-sm p-0">Smoker</label>
                                    <select class="form-control contactinput form-control-sm">
                                        <option>Yes</option>
                                        <option selected="selected">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        Agree to terms and conditions
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn submit_buttonnew" type="submit">GET A FREE QUOTE</button>
                            </div>
                            <div class="term-prv">
                                <p>
                                    By clicking "GET A FREE QUOTE" you agree to be contacted by email or telephone by an FCA authorised insurance firm and confirm that you have read and agreed to our <a href="#" data-toggle="modal" data-target="#term-condisation">Terms & Conditions</a>                                        and <a href="#" data-toggle="modal" data-target="#t&c">Privacy Policy</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="container lowerbody">
    <div class="row">
        <div class="col-sm-4">
            <img src="@Url.Content("/content/img/apply.png")">
            <h3>Fill up the form above to <br><b>GET A QUOTE</b> </h3>
        </div>
        <div class="col-sm-4">
            <img src="@Url.Content("/content/img/compare.png")">
            <h3>Market Leading, Affordable Cover</h3>
        </div>
        <div class="col-sm-4">
            <img src="@Url.Content("/content/img/save.png")">
            <h3><b>FREE,</b> No Obligation Quotes.</h3>
        </div>
        <div class="clr"></div>
        <div class="col-12 text-center p-0">
            <h1>Compare <span>the market</span> in seconds! <br>use our fast free service to compare all leading uk life insurance policies </h1>

            <a href="#"><img src="@Url.Content("/content/img/get_button.png")"></a>
        </div>
    </div>
</section>



@section Script{
    
    <script>

        (function () {

            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4'
            });
        })();
    </script>
    }